
<!DOCTYPE html>
<html lang="" ng-app="client">

<body>
    <div class="toolbar" role="banner">
        <img
          width="40"
          alt="Angular Logo"
          src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
        />
        <span>Start page</span>
      
      </div>
      
      
      <div class = "content">
        <form class="col s12" #userForm="ngForm">
          <div class="row">
            <div class="input-field col s6">
              <input type="text" id="login" required #name="ngModel" class="validate" [(ngModel)]="user.login" name="login">
            </div>
            <br>
            <div class="input-field col s12">
              <input type="text" id="password" #id="ngModel" class="validate" [(ngModel)]="user.password" name="password">
            </div>
          </div>
      </form>
      
      </div>
      <div class="content">
      <button (click)="signin(user.login, user.password)" [disabled]="!userForm.form.valid">Sign in</button>
      
      <button routerLink='/driller'> Add request</button>
    </div>

    </body>
    </html>